h1{
    background: #e0bcbc;
    color:#555555;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5em;
}

h2{
    background-color: cadetblue;
    color:#666666;

    
    font-family: 'Amatic SC', cursive;
}